
<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to the Donation ANAL</p>
  </div>

  <p>Kek 4eburek</p>

  <mat-tab-group>
    <mat-tab>
      <p>Quillaer</p>
    </mat-tab>
    <mat-tab>
      <p>The best!</p>
    </mat-tab>
    <mat-tab>
      <p>Andrej</p>
    </mat-tab>
    <mat-tab>
      <p>Ilia</p>
    </mat-tab>
    <mat-tab>
      <p>alibaba</p>
    </mat-tab>
    <mat-tab>
      <p>alibaba</p>
    </mat-tab>
    <mat-tab>
      <p>alibaba</p>
    </mat-tab>


  </mat-tab-group>
</section>
