a {
  text-decoration: none;
}

.card-size {
  max-width: 400px;
}

#container {
  display: flex;
  flex-direction: column;
}

.input-container{
  margin: 5px 0;
}

#align-main-container{
  margin: 100px auto;
}
