<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>

<ng-template #loggedOut>
  <mat-card class="card-size" id="align-main-container">

    <mat-card-header>
      <mat-card-title>Login form</mat-card-title>
      <mat-card-subtitle>Enter your username and password</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content >
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div id="container">

            <mat-form-field>
              <input matInput minlength="6" maxlength="50" placeholder="Enter your username"
                     name="username" [(ngModel)]="form.username" #username="ngModel"
                     required />
              <div *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
              </div>
            </mat-form-field>

            <mat-form-field>
              <input matInput minlength="6" maxlength="50" placeholder="Enter your password"
                     name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="form.password" #password="ngModel"
                     required />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </mat-form-field>

          <div class="form-group">
            <button mat-raised-button color="accent">Login</button>
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
              Login failed: {{errorMessage}}
            </div>
          </div>

        </div>
      </form>
    </mat-card-content>

    <div><mat-divider></mat-divider></div>

    <mat-card-footer id="align-content-footer">
      <p>Don't have an account?</p>
      <a href="signup" mat-raised-button color="primary">Sign Up</a>
    </mat-card-footer>

  </mat-card>

<!--  <div class="row col-sm-6" style="max-width:350px;">-->
<!--    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>-->
<!--      <div class="form-group">-->
<!--        <label for="username">Username</label>-->
<!--        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"-->
<!--               required />-->
<!--        <div *ngIf="f.submitted && username.invalid">-->
<!--          <div *ngIf="username.errors.required">Username is required</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"-->
<!--               required minlength="6" />-->
<!--        <div *ngIf="f.submitted && password.invalid">-->
<!--          <div *ngIf="password.errors.required">Password is required</div>-->
<!--          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <button class="btn btn-primary">Login</button>-->
<!--        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">-->
<!--          Login failed: {{errorMessage}}-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--    <hr />-->
<!--    <p>Don't have an account?</p>-->
<!--    <a href="signup" class="btn btn-success">Sign Up</a>-->
<!--  </div>-->
</ng-template>
