.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

#reloadImg{
  align-self: center;
  cursor: pointer;
}

.donationContainerMain{
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.donationList{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 30%;
}

.list{
  height: 300px;
}

.listSubj{
  padding: 5px;
}

.messageSurround{
  width: 70%;
}

.message{
}
