<mat-accordion class="example-headers-align">

  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Your donation alerts id, code and name
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

      <mat-grid-list style="width: 300px" *ngIf="daUserResponse" cols="2" rowHeight="20px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
          <img src="{{daUserResponse.avatar}}" />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          ID: {{daUserResponse.id}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          Code: {{daUserResponse.code}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          Name: {{daUserResponse.name}}
        </mat-grid-tile>
      </mat-grid-list>

    <mat-action-row>
      <i (click)="refreshInfo()" id="reloadImg" class="material-icons">
        autorenew
      </i>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <div *ngIf="donationResponse">
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Donations
        </mat-panel-title>
        <mat-panel-description>
          Your donations
          <mat-icon>money</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngFor="let donRes of donationDisplay">
        <div class="donationContainerMain">
          <div class="donationList">
            <div class="listSubj">ID: {{donRes.id}}</div>
            <div class="listSubj">Username: {{donRes.username}}</div>
            <div class="listSubj">Created at: {{donRes.created_at}}</div>
            <div class="listSubj">Amount: {{donRes.amount}}, {{donRes.currency}}</div>
          </div>
          <div class="messageSurround">
            <div class="message">{{donRes.message}}</div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>


      <mat-action-row>
        <mat-paginator
                       (change)="onChange()"
                       (page)="pageEvent = $event"
                       (click)="changePage()"
                       [length]="donationResponse.length"
                       [pageSize]="itemPerPage"
                       [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>

        <button mat-button color="warn" (click)="prevStep()">Previous</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

</mat-accordion>

